.home-back{
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100vh;
}

.home-pic{
    height: 647px;
    
}

.colum1{
    width: 490px;
    height: 300px;
    
}
.colum2{
    width: 220px;
    height:300px
}
.column4{
    width: 500px;
    height:300px;
}
.column{
    width: 200px;
    height: 180px;
    
}

/*.bloom-img{
    width:100%;
    height:480px;
}*/


  .sidebar {
    
    
    height:800px;
    
  }

  .black-img{
    width:500px;
    height: 800px;
  }